nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #444;
  }
  body h1{
    background-color: #b35555;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
body nav{
    background-color: #b35555;
    margin: 0 auto;
    padding: 20px;
}